<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUZ7ENWsKvQ4OuHZz3lUVxhVfLVf4fXnxPcQ&usqp=CAU");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    }
  </style>
  </head>
  <body>
{% if flag%}
  <div class="list" style="margin-top:10%;margin-left:40%;">
      <p>The Prediction is {{pred}}</p>
        <div class="value"><img src="{{value}}"  alt="a fruit" justify-content="center"  width="200px"
      height="200px" ;></div>
       </div>
   {% endif %}


    <div class="output"><div class="results" style="margin-left:15%;">
        <p style="padding-top: 20px; color:blue;"><h4 style="color:rgb(22, 21, 21);padding-left: 40px; ">Nutrition Content: <h4><b><h4 style="color:rgb(8, 8, 8);padding-left: 40px;">
        {{content}}<br></h4></b></h4></h4>
</div>
<br>
<br></div>
</body>
</html>